<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Map_GPS_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6B8FBE01DDF2D5E0080EE71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B8FBF91DDF2D5F0080EE71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B8FC041DDF2D5F0080EE71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
