<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CategoryDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6F6B7F31DDB20C20035705E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6F6B80C1DDB20C30035705E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6F6B8171DDB20C30035705E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
